@font-face {
    font-family: akzidenz;
    src: url(akzidenz.ttf) format('truetype');
}

body{
	font-family: akzidenz, sans-serif;
	font-size: 30pt;
	background-color: #eaf2ff;
}

a:link {
    text-decoration: none;
    color: #1967d3;
}

a:visited{
	color: #6b28c1;
}

a:hover{
	color: #d21853;
	transition: 1s;
}

div {
    column-count: 2;
    column-gap: 300px;
    padding: 0 100px 0 200px;
}

.center{
	text-align: center;
}

.point{
	margin: 0 0 20px 0;
}

#box_2 {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #eaf2ff;
    padding: 10px;
	font-size: 12pt;
	color: black;
	text-align: right;
}
