body{
	text-align: center;
	font-family: helvetica, sans-serif;
	font-size: 30pt;
}

input[type=text]{
	width: 75%;
	height: 200px;
	font-size: 70pt;
}

input[type=text]:focus {
    background-color: #effeff;
}

button{
	background-color: lightblue;
	width: 200px;
	height: 200px;
	border-radius: 10px;
	font-size: 70pt;
}

