body{
	font-family: sans-serif;
	background-color: lightblue;
}

header {
  background: pink;
  padding: 10px;
}

nav {
  padding: 15px;
  text-align: center;
}

.col1{
	float: left;
}

.col2{
	float: left;
}

.col3{
	float:left;
	padding: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

article {
  padding: 20px;
  margin-left: 0;
  text-align: justify;
}

footer {
  padding: 10px;
  background: pink;
  clear: both;
}

.menu li{
	padding: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
    background-color: pink;
}


a{
	color: blue;
	text-decoration: none;
}

@media only screen and (max-width: 500px){
[class*="col"] {
    width: 100%;
	}
}

@media only screen and (min-width: 500px){
	.col1 {width: 33.33%;}
	.col2 {width: 33.33%;}
	.col3 {width: 30%;}
}


@media only screen and (min-width: 600px) {
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}