body{

	font-family: 'courier', sans-serif;
	font-size: 20pt;
	background-color: black;
	color: white;
	text-align: center;
}

.vertical {
	transform: rotate(90deg);
}

.upsidedown {
	transform: rotate(180deg);
}

.crosshair {cursor: crosshair; }

a:link {
    color: red;
}

/* visited link */
a:visited {
    color: green;
}

/* mouse over link */
a:hover {
    color: hotpink;
}

/* selected link */
a:active {
    color: hotpink;
}
