 body{
 	background-color: #ffefd1;
 }

 .hold{
 	margin: 50px;
 }

 #a1 {
  height: 70px;
  width: 20px;
  background-color: green;
  border-radius: 50%;
  top: 10px;
  left: 16px;
  transform: rotate(20deg);
  position: absolute;
}

#a2 {
  height: 70px;
  width: 20px;
  background-color: green;
  border-radius: 50%;
  transform: rotate(-20deg);
  position: absolute;
  top: 10px;
  left: 40px;
}

#a3 {
  height: 15px;
  width: 40px;
  background-color: green;
  border-radius: 50%;
  position: absolute;
  top: 50px;
  left: 20px;
}

#b1 {
	height: 70px;
	width: 20px;
	border-radius: 50%;
	background-color: green;
	position: absolute;
	top: 10px;
	left: 80px;
}

#b2 {
	height: 35px;
	width: 35px;
	border-radius: 50%;
	background-color: green;
	position: absolute;
	top: 14px;
	left: 90px;
}

#b3 {
	height: 45px;
	width: 45px;
	border-radius: 50%;
	background-color: green;
	position: absolute;
	top: 35px;
	left: 90px;
}

#c1 {
	height: 70px;
	width: 70px;
	border-radius: 50%;
	background-color: green;
	position: absolute;
	top: 10px;
	left: 150px;
}

#c2 {
	height: 50px;
	width: 50px;
	border-radius: 50%;
	background-color: #ffefd1;
	position: absolute;
	top: 20px;
	left: 176px;
}

#d1 {
	height: 70px;
	width: 20px;
	border-radius: 50%;
	background-color: green;
	position: absolute;
	top: 10px;
	left: 240px;
}

#d2 {
	height: 70px;
	width: 50px;
	border-radius: 50%;
	background-color: green;
	position: absolute;
	top: 10px;
	left: 241px;
}

#e1 {
	height: 70px;
	width: 20px;
	border-radius: 50%;
	background-color: green;
	position: absolute;
	top: 10px;
	left: 310px;
}

#e2 {
	height: 20px;
	width: 50px;
	border-radius: 50%;
	background-color: green;
	position: absolute;
	top: 10px;
	left: 315px;
}

#e3 {
	height: 20px;
	width: 30px;
	border-radius: 50%;
	background-color: green;
	position: absolute;
	top: 36px;
	left: 315px;
}

#e4 {
	height: 20px;
	width: 50px;
	border-radius: 50%;
	background-color: green;
	position: absolute;
	top: 61px;
	left: 315px;
}

#f1 {
	height: 70px;
	width: 20px;
	border-radius: 50%;
	background-color: green;
	position: absolute;
	top: 10px;
	left: 380px;
}

#f2 {
	height: 20px;
	width: 50px;
	border-radius: 50%;
	background-color: green;
	position: absolute;
	top: 10px;
	left: 385px;
}

#f3 {
	height: 20px;
	width: 30px;
	border-radius: 50%;
	background-color: green;
	position: absolute;
	top: 36px;
	left: 385px;
}

#g1 {
	height: 70px;
	width: 50px;
	border-radius: 50%;
	background-color: green;
	position: absolute;
	top: 10px;
	left: 455px;
}

#g2 {
	height: 50px;
	width: 50px;
	border-radius: 50%;
	background-color: #ffefd1;
	position: absolute;
	top: 20px;
	left: 482px;
}

#g3 {
	height: 18px;
	width: 30px;
	border-radius: 50%;
	background-color: green;
	position: absolute;
	top: 55px;
	left: 490px;
	 transform: rotate(40deg);
}

#h1 {
  height: 70px;
  width: 20px;
  background-color: green;
  border-radius: 50%;
  top: 120px;
  left: 8px;
  position: absolute;
}

#h2 {
 height: 70px;
  width: 20px;
  background-color: green;
  border-radius: 50%;
  position: absolute;
  top: 120px;
  left: 40px;
}

#h3 {
  height: 15px;
  width: 40px;
  background-color: green;
  border-radius: 50%;
  position: absolute;
  top: 150px;
  left: 18px;
}

#i {
  height: 70px;
  width: 20px;
  background-color: green;
  border-radius: 50%;
  top: 120px;
  left: 85px;
  position: absolute;
}

#k1 {
  height: 70px;
  width: 20px;
  background-color: green;
  border-radius: 50%;
  top: 120px;
  left: 130px;
  position: absolute;
}

#k2 {
  height: 40px;
  width: 20px;
  position: absolute;
  background-color: green;
  border-radius: 50%;
  top: 120px;
  left: 148px;
  transform: rotate(25deg);
}

#k3 {
  height: 50px;
  width: 20px;
  position: absolute;
  background-color: green;
  border-radius: 50%;
  top: 142px;
  left: 148px;
  transform: rotate(-25deg);
}

#l1 {
  height: 65px;
  width: 20px;
  background-color: green;
  border-radius: 50%;
  top: 120px;
  left: 195px;
  position: absolute;
}

#l2 {
  height: 20px;
  width: 48px;
  background-color: green;
  border-radius: 50%;
  top: 169px;
  left: 200px;
  position: absolute;
}

 #m1 {
  height: 70px;
  width: 20px;
  background-color: green;
  border-radius: 50%;
  top: 120px;
  left: 275px;
  transform: rotate(20deg);
  position: absolute;
}

#m2 {
  height: 40px;
  width: 20px;
  background-color: green;
  border-radius: 50%;
  transform: rotate(-20deg);
  position: absolute;
  top: 120px;
  left: 293px;
}

 #m3 {
  height: 40px;
  width: 20px;
  background-color: green;
  border-radius: 50%;
  top: 120px;
  left: 305px;
  transform: rotate(20deg);
  position: absolute;
}

 #m4 {
  height: 70px;
  width: 20px;
  background-color: green;
  border-radius: 50%;
  top: 120px;
  left: 322px;
  transform: rotate(-20deg);
  position: absolute;
}

#n1{
  height: 70px;
  width: 20px;
  background-color: green;
  border-radius: 50%;
  top: 120px;
  left: 375px;
  position: absolute;
}

#n2{
	height: 74px;
  width: 20px;
  background-color: green;
  border-radius: 50%;
  top: 118px;
  left: 387px;
  transform: rotate(-20deg);
  position: absolute;
}

#n3{
  height: 70px;
  width: 20px;
  background-color: green;
  border-radius: 50%;
  top: 120px;
  left: 400px;
  position: absolute;
}

#o1 {
	height: 70px;
	width: 50px;
	background-color: green;
	border-radius: 50%;
	top: 120px;
	left: 445px;
	position: absolute;
}

#o2 {
	height: 40px;
	width: 20px;
	background-color: #ffefd1;
	border-radius: 50%;
	top: 133px;
	left: 462px;
	position: absolute;
}

#p1 {
	position: absolute;
	height: 70px;
	width: 20px;
	background-color: green;
	border-radius: 50%;
	top: 230px;
	left: 8px;
}

#p2{
	position: absolute;
	height: 45px;
	width: 45px;
	background-color: green;
	border-radius: 50%;
	top: 235px;
	left: 12px;
}

#q1 {
	height: 70px;
	width: 50px;
	background-color: green;
	border-radius: 50%;
	top: 230px;
	left: 82px;
	position: absolute;
}

#q2 {
	height: 40px;
	width: 20px;
	background-color: #ffefd1;
	border-radius: 50%;
	top: 247px;
	left: 99px;
	position: absolute;
}

#q3 {
	height: 30px;
	width: 14px;
	background-color: green;
	border-radius: 50%;
	top: 270px;
	left: 110px;
	position: absolute;
	transform: rotate(-25deg);
}

#r1 {
	position: absolute;
	height: 70px;
	width: 20px;
	background-color: green;
	border-radius: 50%;
	top: 230px;
	left: 165px;
}

#r2{
	position: absolute;
	height: 35px;
	width: 35px;
	background-color: green;
	border-radius: 50%;
	top: 235px;
	left: 172px;
}

#r3 {
  height: 50px;
  width: 20px;
  position: absolute;
  background-color: green;
  border-radius: 50%;
  top: 253px;
  left: 183px;
  transform: rotate(-25deg);
}

#s1 {

}

#t1 {
	position: absolute;
	height: 70px;
	width: 20px;
	background-color: green;
	border-radius: 50%;
	top: 230px;
	left: 325px;
}

#t2 {
	position: absolute;
	height: 20px;
	width: 70px;
	background-color: green;
	border-radius: 50%;
	top: 230px;
	left: 300px;
}

#u1 {

}

#v1 {
  height: 70px;
  width: 20px;
  background-color: green;
  border-radius: 50%;
  transform: rotate(-20deg);
  position: absolute;
  top: 340px;
  left: 16px;
}

#v2{
  height: 70px;
  width: 20px;
  background-color: green;
  border-radius: 50%;
  transform: rotate(20deg);
  position: absolute;
  top: 340px;
  left: 40px;
}

#w1 {
  height: 70px;
  width: 20px;
  background-color: green;
  border-radius: 50%;
  transform: rotate(-20deg);
  position: absolute;
  top: 340px;
  left: 86px;
}

#w2 {
  height: 40px;
  width: 20px;
  background-color: green;
  border-radius: 50%;
  transform: rotate(20deg);
  position: absolute;
  top: 370px;
  left: 104px;
}

#w3 {
  height: 40px;
  width: 20px;
  background-color: green;
  border-radius: 50%;
  transform: rotate(-20deg);
  position: absolute;
  top: 370px;
  left: 117px;
}

#w4 {
  height: 70px;
  width: 20px;
  background-color: green;
  border-radius: 50%;
  transform: rotate(20deg);
  position: absolute;
  top: 340px;
  left: 135px;	
}

#x1 {
  height: 90px;
  width: 20px;
  background-color: green;
  border-radius: 50%;
  transform: rotate(-40deg);
  position: absolute;
  top: 330px;
  left: 210px;
}

#x2 {
  height: 90px;
  width: 20px;
  background-color: green;
  border-radius: 50%;
  transform: rotate(40deg);
  position: absolute;
  top: 330px;
  left: 210px;	
}

#y1 {
  height: 50px;
  width: 17px;
  background-color: green;
  border-radius: 50%;
  transform: rotate(-40deg);
  position: absolute;
  top: 333px;
  left: 290px;
}

#y2 {
  height: 90px;
  width: 20px;
  background-color: green;
  border-radius: 50%;
  transform: rotate(40deg);
  position: absolute;
  top: 330px;
  left: 300px;
}

#z1 {
	height: 20px;
	width: 70px;
	background-color: green;
	border-radius: 50%;
	top: 338px;
	left: 360px;
	position: absolute;
}

#z2 {
	height: 20px;
	width: 89px;
	background-color: green;
	border-radius: 50%;
	top: 365px;
	left: 351px;
	position: absolute;
	transform: rotate(-40deg);
}

#z3 {
	height: 20px;
	width: 70px;
	position: absolute;
	background-color: green;
	border-radius: 50%;
	top: 393px;
	left: 360px;
}