@font-face {
    font-family: akzidenz;
    src: url(akzidenz.ttf) format('truetype');
}

body {
	font-family: akzidenz;
	size: 18pt;
}

iframe {
	border: solid black 5px;
	width: 100%;
	height: 500px;
}

pre {
	border: solid blue 1px;
}

img {
	max-width: 100%;
}

img.full-width {
	width: 100%;
}


p{
	padding: 10px;
	margin: 0 30px 0 30px;
	font-family: akzidenz;
}

h1{
	font-family: akzidenz;
	padding:20px;
}

div{
	font-family: akzidenz;
}

.title{
	font-size: 80pt;
	text-align: center;
}

.right {
	float: right;
}

.left{
	margin-right: 25%;
}

.wrapper {
	margin: 30px auto;
	max-width: 90%;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #eaf2ff;
  padding: 8px;
}
.grid-item {
  background-color: #eaf2ff;
  border: 5px solid white;
  padding: 50px 0 50px 0;
  font-size: 30px;
  text-align: center;
}

a:link {
    text-decoration: none;
    color: #1967d3;
}

a:visited{
	color: #6b28c1;
}

a:hover{
	color: #d21853;
	transition: 1s;
}

#box_2 {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #eaf2ff;
    padding: 10px;
	font-size: 12pt;
	color: black;
	text-align: right;
}
