body {
    font-family: kabel;
    font-size: 14pt;
    background-color: #f0f0e4;
    color: black;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: kabel;
    src: url(../fonts/kabel.ttf);
}

@font-face {
    font-family: persephone;
    src: url(../fonts/persephone.ttf);
}

#wheat {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}

.tear{
    margin: 0;
    padding: 0;
    width: 100%; 
    height: auto;
}

#back{
    font-family: persephone;
    color: #4E180D;
    font-size: 20pt;
    margin-right: 10px;
}


.content {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.25);
    color: #4E180D;
    width: 100%;
}

.content2 {
    position: fixed;
    top: 25%;
    bottom: 25%;
    left: 25%;
    right: 25%;
    color: #4E180D;
    font-size: 160pt;
    text-align: center;
    font-family: persephone;
}

a:link {
    text-decoration: none;
    color: #4E180D;
}

a:visited {
    text-decoration: none;
    color: #4E180D;
}

.left {
    margin: 20pt;
    padding-right: 40%;
    padding: 30vh 40% 30vh 0;
    transition: 2s;
}

.right {
    text-align: right;
    margin: 20pt;
    padding-left: 40%;
    padding: 30vh 0 30vh 40% ;
    transition: 2s;
}

.left:hover{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
}

.right:hover{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
}

.flower:hover {
    background-image: url(../images/pick-flower.png);
    color: black;
}

.field:hover {
    background-image: url(../images/field.png);
     color: #f0f0e4;
}

.temple:hover {
    background-image: url(../images/temple2.png);
        color: #f0f0e4;
}

.dead:hover {
    background-image: url(../images/dead.png);
}

.hole:hover {
    background-image: url(../images/hole.png);
    color: #f0f0e4;
}

.seeds:hover {
    background-image: url(../images/seeds.png);
}

.rainbow:hover {
    background-image: url(../images/rainbow.png);
}

.cloak:hover {
    background-image: url(../images/cloak.png);
}

.torch:hover {
    background-image: url(../images/torch.png);
    color: #f0f0e4;
}

.nightsun:hover {
    background-image: url(../images/nightsun.png);
    color: #f0f0e4;
}

.looking2:hover {
    background-image: url(../images/looking2.png);
}

.wing:hover {
    background-image: url(../images/feathers.png);
}

.spring:hover {
    background-image: url(../images/spring.png);
}

.relief:hover {
    background-image: url(../images/relief.png);
}

.column:hover {
    background-image: url(../images/column.png);
}

.hands:hover {
    background-image: url(../images/hands.png);
    color: #f0f0e4;
}

.statue:hover {
    background-image: url(../images/statue.png);
}

.olives:hover {
    background-image: url(../images/olives.jpg);
    color: #f0f0e4;
}

.skull:hover {
    background-image: url(../images/skull.png);
    color: #f0f0e4;
}

.lightning:hover {
    background-image: url(../images/lightning.jpg);
    color: #f0f0e4;
}

.sky:hover {
    background-image: url(../images/sky.jpg);
    color: #f0f0e4;
}

.center{
    text-align: center;
    padding-left: 15%;
    padding-right:15%;
    padding-top: 5%;
}

.credit{
    text-align: right;
    font-size: 8pt;
    margin: 15px;
}