@font-face {
    font-family: blair;
    src: url(blair.ttf) format('truetype');
}

@font-face {
    font-family: alegreya;
    src: url(Alegreya-Regular.ttf) format('truetype');
}

body{
	font-size: 22px;
	font-family: alegreya, serif;
	background-color: #fff9f4;
	background-size: cover;
	background-position: center;
}

h1{
	font-family: blair;
	text-align: center;
	font-size: 80pt;
	line-height: 90%;
}

#title{
	font-family: blair;
	text-align: center;
}

#subtitle{
	display: hidden;
}

h2{
	text-align: center;
}

.question{
	font-weight: 600;
	padding-left: 100px;
	padding-bottom: 10px;
}
.answers {
  margin-bottom: 30px;
	padding-left: 100px;
}
.answers label{
  display: block;
	padding-left: 100px;
}
#submit{
	align-items: center;
	font-family: alegreya, serif;
	font-size: 20px;
	background-color: #eaa79e;
	color: black;
	border: 0px;
	border-radius: 20px;
	padding: 20px;
	cursor: pointer;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 100px;
}
#submit:hover{
	background-color: #ea8a76;
}

button:focus {outline:0;}

#results{
	text-align: center;
	font-size: 60pt;
}