@font-face {
    font-family: benguiat;
    src: url(../fonts/benguiat.ttf);
}

@font-face {
    font-family: unif;
    src: url(../fonts/unif.ttf);
}

@font-face {
    font-family: alegreya;
    src: url(../fonts/alegreya.ttf);
}

html {
	margin: 0;
	padding: 0;
	}

body { 
	font: 10pt alegreya;
	background-image: url(../images/purple-trees.png);
	background-repeat: no-repeat;
	background-position: top center;
	background-color: rgb(215,219,248);
	background-size: 100%;
	}

h1 {
	text-align: center;
	font-size: 110pt;
	font-family: benguiat;
	margin-top: 20%;
}

h2{
	text-align: right;
	font-size: 30pt;
	float: right;
	width: 33%;
	position: static;
}

#zen-summary {
	width: 33%;
	background-color: rgba(255, 255, 255, 0.6);
	padding: 10px;
	position: relative;
	margin: 100px;
}

abbr {
	text-decoration: none;
}

h3 { 
	font: 18pt unif;
	text-align: center;
	}
a:link { 
	font-weight: bold; 
	text-decoration: none; 
	color: #B7A5DF;
	}
a:visited { 
	font-weight: bold; 
	text-decoration: none; 
	color: #D4CDDC;
	}
a:hover, a:focus, a:active { 
	text-decoration: underline; 
	color: #9685BA;
	}
abbr {
	border-bottom: none;
	}

ul {
	list-style-type: none;
}


/* specific divs */
.design-selection {
	display: grid;
  grid-gap: 5px;
  grid-template-columns: auto auto auto;
  padding: 0px;
  margin: 0%;
  float:right; 
  top: 10%;
}

li {
  background-color: rgba(255, 255, 255, 0.6);
  width: auto;
  margin: 5px;
  padding: 10px;
  font-size: 12px;
  text-align: center;
}

.zen-resources {
	display: grid;
  grid-gap: 5px;
  grid-template-columns: auto auto auto;
  padding: 0px;
  margin: 0%;
}

.design-archives {
	display: grid;
  grid-gap: 5px;
  grid-template-columns: auto auto auto;
  padding: 0px;
  margin: 0%;
}

.preamble {
	width: 650px;
	padding: 20px;
	margin-top: 30px;
}

#zen-explanation {
	width: 650px;
	margin-left: 30%;
	padding: 20px;
	margin-top: 10px;
	margin-right: 20px;
}

#zen-participation {
	width: 650px;
	margin-right: 0;
	padding: 20px;
	margin-top: 10px;
}

#zen-benefits {
	width: 650px;
	margin-left: 20%;
	padding: 20px;
	margin-top: 10px;
}

#zen-requirements {
	width: 650px;
	margin-left: 2%;
	padding: 20px;	
	margin-top: 10px;
}

.sidebar{
	float: right;
}

footer{
	position: fixed bottom;
	text-align: right;

}