@font-face {
    font-family: avantgarde-std;
    src: url(avantgarde-std.otf) format('opentype');
}

body{
  font-family: avantgarde-std, sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: white;
}

a{
  color: black;
  position: relative;
}

.abouttext{
  font-size: 40pt;
  padding: 0 10% 0 10%;
  width: 80%;
  height: auto;
  text-align: justify;
  line-height: 150%;
}

#squaremobile{
	background-color: #C8E3F6;
	position: absolute;
	z-index: -1;
	left: 10%;
	top: 15%;
	height: 800px;
	width: 80%;
}

#name{
  width: 770px;
  font-size: 80pt;
  position: inherit;
  margin-left: 10%;
  margin-top: -80px;
}

.nav{
    position: relative;
    margin-top: 125%;
	margin-left: 19%;
	font-size: 60pt;
	float: left;
}

#footer {
   position:fixed;
   bottom:0px;
   height:30px;
   width:100%;
   font-size: 20pt;
   padding: 20px;
   opacity: 0.6;
}

.projects{
  font-size: 60pt;
  text-align: center;

}

#headicon{
  margin-left: 10%;
}

.preview{
  width: 70%;
  height: auto;
}

h1{
  text-align: center;
  font-size: 60pt;
}

.workimage{
  padding: 5% 10% 5% 10%;
    width: 80%;
  height: auto;
}

.worktext{
  font-size: 30pt;
  padding: 0 10% 0 10%;
  width: 80%;
  height: auto;
  text-align: justify;
  line-height: 150%;
}