@font-face {
    font-family: avantgarde-xlt;
    src: url(avantgarde-xlt.otf) format('opentype');
}

@font-face {
    font-family: avantgarde-std;
    src: url(avantgarde-std.otf) format('opentype');
}

body{
	font-family: avantgarde-std, sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: white;
}

a{
  color: black;
  text-decoration: none;
  position: relative;
}

a:hover{
}

a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: -2px;
  left: 0;
  background-color: #000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}



/*--------------Home page------------------------------*/

#rectangle{
	background-color: #C8E3F6;
	position: absolute;
	left: 10%;
	top: 10%;
	height: 550px;
	width: 80%;
	z-index: -1;
}


.heading{
  position: relative;
	padding: 45px 5% 0 12%;
	font-size: 30pt;
	float: left;
}


#name{
  width: 770px;
  font-size: 80pt;
  position: absolute;
  margin-left: 40%;
  margin-top: 470px;
}

/*--------------eyes----------------*/

.eyes {
  position: relative;
  top: 200px;
  left: 50%;
  width: 400px;
  height: 80px;
  -webkit-transform: translate(-225px, 50px);
  -moz-transform: translate(-225px, 50px);
  -ms-transform: translate(-225px, 50px);
  -o-transform: translate(-225px, 50px);
  transform: translate(-225px, 50px);
}

.eye {
  position: absolute;
  width: 120px;
  height: 120px;
  top: 0;
  border-radius: 50% 50% 50% 50%;
  background-color: white;
  overflow: hidden;
  border: solid #000 15px;
}

#eye1 {
  left: 50px;
}

#eye2 {
  right: 0;
}

.iris {
  position: absolute;
  width: 80px;
  height: 80px;
  background-color: #000;
  border-radius: 50%;
  top: 40px;
  left: 60px;
  -webkit-transform: translate(-40px, -40px);
  -moz-transform: translate(-40px, -40px);
  -ms-transform: translate(-40px, -40px);
  -o-transform: translate(-40px, -40px);
  transform: translate(-40px, -40px);
}

#bridge{
  background-color: black;
  height: 15px;
  width: 70px;
  -webkit-transform: translate(190px, 70px);
  -moz-transform: translate(190px, 70px);
  -ms-transform: translate(190px, 70px);
  -o-transform: translate(190px, 70px);
  transform: translate(190px, 70px);
}

/*-----------about------------*/

#square{
	background-color: #C8E3F6;
  position: fixed;
	height:60%;
	width: 30%;
	margin-left: 100px;
  margin-top: 160px;
	z-index: -1;
	float: left;
}

#abouttext{
  position: relative;
	width: 40%;
	height: 500px;
	font-size: 20pt;
	float: left;
	margin-top: 100px;
  margin-left: 700px;
  line-height: 150%;
}

/*-----------works-----------*/

#list{
  padding-left: 12%;
  padding-top: 150px;
  font-size: 20pt;
  width: 400px;
}


.projectname{
  font-size: 40pt;
  padding-top: 200px;
  padding-bottom: 60px; 
  text-align: center;
}

i {
  border: solid black;
  border-width: 0 15px 15px 0;
  display: inline-block;
  padding: 20px;
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    float: left;
    margin-left: 80px;
    margin-bottom: 80px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    float: right;
    margin-right: 80px;
    margin-bottom: 80px;
}

#previous{
  float: left;
  text-decoration: none;
  font-size: 30pt;
}

#next{
  float: right;
  text-decoration: none;
  font-size: 30pt;
}

/*-----------all images must be 700x400-----------*/

#image1{
  width: 700px;
  height: 400px;
  opacity: 0;  
  margin-left: 600px;
  margin-top: -400px;
}

#image2{
  width: 700px;
  height: 400px;
  opacity: 0;  
  margin-left: 600px;
  margin-top: -400px;
}

#image3{
  width: 700px;
  height: 400px;
  opacity: 0;  
  margin-left: 600px;
  margin-top: -400px;
}

#image4{
  width: 700px;
  height: 400px;
  opacity: 0;  
  margin-left: 600px;
  margin-top: -400px;
}

#image5{
  width: 700px;
  height: auto;
  opacity: 0;  
  margin-left: 600px;
  margin-top: -300px;
}

#image6{
  width: 700px;
  height: 400px;
  opacity: 0;  
  margin-left: 600px;
  margin-top: -400px;
}


/*----------------------lgbt---------------------*/

.lgbtimg{
  padding-left: 8%;
  padding-bottom: 50px;
  float: left;
  width: 40%;
  height: auto;
  object-fit: cover;
}

.lgbtimg1{
  padding-right: 8%;
  padding-bottom: 50px;
  float: right;
  width: 40%;
  height: auto;
  object-fit: cover;
}

.lgbttext{
    float: right;
  height: 410px;
  width: 38%;
  font-size: 20pt;
  line-height: 150%;
  padding-right: 10%;
  margin-top: 20px;
  text-align: justify;
}

.lgbttext1{
    float: left;
  height: 410px;
  width: 38%;
  font-size: 20pt;
  line-height: 150%;
  padding-left: 10%;
  margin-top: 20px;
  text-align: justify;
}

/*----------------ethos------------*/


#ethos1{
  padding-left: 8%;
  padding-bottom: 50px;
  width: 40%;
  height: auto;
  object-fit: cover;
}

#ethos2{
  float: right;
  height: auto;
  width: 38%;
  font-size: 20pt;
  line-height: 150%;
  padding-right: 10%;
  padding-top: 1%;
}

.ethos3{
  padding-left: 8%;
  padding-bottom: 2%;
  float: left;
  width: 40%;
  height: auto;
  object-fit: cover;
  padding-right: 2%;
}

#testing{
  background-color: blue;
}

/*--------------chimique-------------*/

.projecttextch{
  float: left;
  width: 40%;
  height: 200px;
  font-size: 20pt;
  line-height: 150%;
  padding-left: 7%;
  text-align: justify;
  padding-right: 15%;
}

.chimiqueimg{
    padding-left: 7%;
  padding-bottom: 50px;
  padding-right: 0; 
  float: left;
  width: 40%;
  height: auto;
  object-fit: cover;
  padding-right: 15%;
}

.projectimagetall{
  margin-left: 8%;
  margin-bottom: 50px;
  margin-right: 5%; 
  float: left;
  width: 25%;
  height: auto;
  object-fit: cover;
}

#backer{
  background-color: #C8E3F6;
  width: 94%;
  margin-left: 3%;
  margin-top: -3%;
  height: 115%;
  z-index: -1;
  position: absolute;
}

/*----------------Home-------------*/


#home1{
  margin-left: 8%;
  margin-bottom: 70px;
  margin-right: 25px; 
  float: left;
  width: 80%;
  height: auto;
  object-fit: cover;
}

#home2{
  padding-left: 8%;
  float: left;
  width: 40%;
  height: auto;
  object-fit: cover;
}

#hometext{
  float: left;
  height: 380px;
  width: 40%;
  font-size: 20pt;
  line-height: 150%;
  padding-left: 5%;

}

/*----------------------mars-----------------*/

#mars{
  padding-left: 8%;
  padding-bottom: 100px;
  float: left;
  width: 40%;
  height: auto;
  object-fit: cover;

}

#marstext{
    float: right;
  height: 400px;
  width: 38%;
  font-size: 20pt;
  line-height: 150%;
  padding-right: 10%;
}


/*----------------work test -----------------------*/

.slider {
  padding-top: 120px;
  margin: 0 auto;
  max-width: 100%;
}

.slide_viewer {
  height: 530px;
  overflow: hidden;
  position: relative;
}

.slide_group {
  height: 100%;
  position: relative;
  width: 100%;
}

.slide {
  display: none;
  height: 100%;
  position: absolute;
  width: 100%;
}

.slide:first-child {
  display: block;
}

.slide:nth-of-type(1) {
  background: #D7A151;
  background-image: url(../images/sample2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.slide:nth-of-type(2) {
  background: #F4E4CD;
  background-image: url(../images/sample3.png);
  background-repeat: no-repeat;
  background-size: cover;

  background-position: center;
}

.slide:nth-of-type(3) {
  background: #C75534;
}

.slide:nth-of-type(4) {
  background: #D1D1D4;
}

.slide_buttons {
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
}

a.slide_btn {
  color: #474544;
  font-size: 42px;
  margin: 0 0.175em;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.slide_btn.active, .slide_btn:hover {
  color: #428CC6;
  cursor: pointer;
}

.directional_nav {
  height: 340px;
  margin: 0 auto;
  max-width: 940px;
  position: relative;
  top: -340px;
}

.previous_btn {
  bottom: 0;
  left: 100px;
  margin: auto;
  position: absolute;
  top: 0;
}

.next_btn {
  bottom: 0;
  margin: auto;
  position: absolute;
  right: 100px;
  top: 0;
}

.previous_btn, .next_btn {
  cursor: pointer;
  height: 65px;
  opacity: 0.5;
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -ms-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
  width: 65px;
}

.previous_btn:hover, .next_btn:hover {
  opacity: 1;
}

@media only screen and (max-width: 767px) {
  .previous_btn {
    left: 50px;
  }
  .next_btn {
    right: 50px;
  }
}